<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POST-IT</title>
    <!-- 공통 CSS -->
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <!-- 블로그 헤더 CSS -->
    <link rel="stylesheet" th:href="@{/styles/header_blog.css}">
    <!-- 콘텐츠별 CSS -->
    <link rel="stylesheet" th:if="${pageCss}" th:href="@{/styles/{file}(file=${pageCss})}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- 푸터 CSS -->
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <style>
        .ql-editor {
            padding: 0;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 16px;
            line-height: 1.8;
            min-height: auto;
            overflow-y: visible;
        }
        .ql-editor img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<!-- 블로그 헤더 -->
<header th:replace="~{/fragments/blog_header :: header}"></header>
<!-- 콘텐츠 -->
<main layout:fragment="content"></main>
<!-- 푸터 -->
<footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>
</html>
