<main layout:fragment="content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pure}">
    <!-- Main Content -->
    <div class="container">
        <!-- 로고 -->
        <div class="logo">
            <a href="/">
                <img src="/images/logo1.png" alt="포스트잇 로고" />
            </a>
        </div>
        <!-- 메인 프레임 -->
        <div class="main-frame">
            <!-- 체크마크 SVG -->
            <div class="checkmark">
                <svg fill="none" viewBox="0 0 85 57">
                    <path
                            d="M6.59445 13.3066L22.3722 49.0066L77.5945 7.00657"
                            stroke="#4E6A9A"
                            stroke-linecap="square"
                            stroke-width="10"
                    />
                </svg>
            </div>

            <!-- 제목 -->
            <div class="title">회원가입 완료</div>

            <!-- 설명 텍스트 -->
            <div class="description">
                <p>
                    <span class="bold" th:text="|&quot;${nick}&quot;님의 |">"닉네임(아이디)"님의 </span>
                    <span>회원가입이 </span>
                </p>
                <p>성공적으로 완료되었습니다.</p>
            </div>

            <!-- 버튼 -->
            <button class="button" onclick="window.location.href='/mem/login';">로그인 하러 가기</button>
        </div>
    </div>
</main>