<!-- Navigation -->
<nav class="navigation" th:fragment="header">
    <div class="nav-content">
        <a href="/" class="logo">
            <img src="/images/logo1.png" alt="POST-IT Logo">
        </a>
        <div class="nav-right">
            <a th:href="@{/blog/{id}(id=${session.member.blogId})}" class="nav-item" style="color: #c7c2c2;" th:if="${session.member} != null">My Blog</a>
            <div class="nav-buttons">
                <th:block th:if="${session.member} == null">
                    <a href="/mem/login" style="text-decoration: none;"><button class="btn-login">Login</button></a>
                    <a href="/mem/signup" style="text-decoration: none;"><button class="btn-register">Register</button></a>
                </th:block>
                <th:block th:if="${session.member} != null">
                    <a href="/mypage" style="text-decoration: none;"><button class="btn-login">MyPage</button></a>
                    <a href="/mem/logout" style="text-decoration: none;"><button class="btn-register">Logout</button></a>
                </th:block>
            </div>
        </div>
        <!-- 햄버거 메뉴 버튼 (모바일) -->
        <button class="hamburger-btn" id="hamburgerBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>
