<!-- Footer -->
<footer class="footer" th:fragment="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h2>POSTit</h2>
            <div class="footer-buttons">
                <button class="btn-register">Register</button>
                <button class="btn-login">Log in</button>
            </div>
        </div>

        <div class="footer-links">
            <div class="footer-column">
                <h4>Mobile app</h4>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Live share</a></li>
                    <li><a href="#">Video record</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Community</h4>
                <ul>
                    <li><a href="#">Featured artists</a></li>
                    <li><a href="#">The Portal</a></li>
                    <li><a href="#">Live events</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">History</a></li>
                </ul>
            </div>
        </div>
        <!-- 오버레이 -->
        <div class="overlay" id="overlay"></div>
        <script src="js/blog.js"></script>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-bottom">
        <p class="copyright">postit© 2025 All Rights Reserved</p>
        <div class="footer-tagline">
            <p>POST-IT: No Ordinary Thoughts. Just Timeless Inspiration.</p>
            <p>POST-IT Your Rebellion. Inspire the Future.</p>
        </div>
    </div>
</footer>